---
- name: Install pip
  ansible.builtin.apt:
    name: python{{ '3' if ansible_python.version.major == 3 else '' }}-pip
    state: present
    update_cache: true

- name: Install curator
  ansible.builtin.pip:
    name: "{{ curator_package }}"
    version: "{{ curator_package_version }}"

- name: Ensure curator log path exists
  ansible.builtin.file:
    group: adm
    mode: "0755"
    name: "{{ curator_log_path }}"
    owner: root
    state: directory

- name: Ensure curator config path exists
  ansible.builtin.file:
    group: root
    mode: "0755"
    name: "{{ curator_config_path }}"
    owner: root
    state: directory

- name: Install curator config file
  ansible.builtin.template:
    dest: "{{ curator_config_path }}/curator.yml"
    mode: "0644"
    src: curator.yml.j2

- name: Install curator action file
  ansible.builtin.template:
    dest: "{{ curator_config_path }}/actionfile.yml"
    mode: "0644"
    src: actionfile.yml.j2
